{% extends "base.html" %}

{% block title %}Excel Checklist Generator{% endblock %}

{% block content %}
    <h2>Upload File BOM</h2>
    <form id="uploadForm" enctype="multipart/form-data" aria-label="Upload Excel file form">
        <div class="mb-3">
            <input type="file" id="fileInput" name="file" accept=".xlsx" required aria-required="true" aria-describedby="fileHelp" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-secondary">Upload and Process</button>
        </div>
    </form>

    <div id="message" role="status" aria-live="polite"></div>
    <div id="error" role="alert" aria-live="assertive"></div>

    <div id="downloadLink" style="display:none;">
        <p>Download your processed file: <a id="fileLink" download>Click Here</a></p>
    </div>

    {% if tables %}
    <h2>Available Tables</h2>
    <ul>
        {% for table in tables %}
        <li><a href="{{ url_for('view_data', table_name=table) }}">{{ table }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tables available.</p>
    {% endif %}

    <script src="{{ url_for('static', filename='js/script_index.js') }}"></script>
{% endblock %}
